apiVersion: apps/v1
kind: Deployment
metadata:
  name: two-tier-app-pod
  labels:
    app: two-tier-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: two-tier-app
  template:
    metadata:
      labels:
        app: two-tier-app
    spec:
      containers:
        - name: two-tier-app-container
          image: shri2151/flaskapp:62
          imagePullPolicy: Always
          env:
            - name: MYSQL_HOST
              value: "10.100.24.128"
            - name: MYSQL_USER
              value: "root"
            - name: MYSQL_PASSWORD
              value: "admin"
            - name: MYSQL_DB
              value: "mydb"
          ports:
            - containerPort: 5000
          imagePullPolicy: Always
